.bg-image-header {
    background-image: url("../img/wall.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-body {
    background-image: url("../img/cork.png");

    background-position: center;
}

.font-size-header {
    font-size: 5rem;
}

.font-header {
    font-family: "Edu TAS Beginner", cursive;
}

.font-sometype-mono {
    font-family: "Sometype Mono", monospace;
}

.card-rotate:hover {
    transform: rotate(30deg) scale(1.1);
    position: relative;
    z-index: 99;

}

/* .red-pin:hover {
    display: none;
} */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}